html {
  margin-left: 200px;
  margin-right: 200px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

footer {
  bottom: 0px;
  width: 100%;
  text-decoration: none;
  color: #818181;
}

.leaflet-container {
  width: 79vw;
  height: 80vh;
}

li a {
  text-decoration: none;
  color: #818181;
}
